.background {
    background-image: url("./images/Clouds\ at\ Sunset.jpg");
    background-size: cover;
    border: 1px solid black;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}

.content {
    text-align: center;
    flex-wrap: wrap;    
}

.header {
    font-size: 2rem;
}


/* Search Component*/
.label {
    margin-right: 0.4rem;
    font-size: 1.5rem;
    
}

.search_bar {
    font-size: 0.9rem;
    border-radius: 10%;
    border: black 1px solid
}

.content li {
    list-style-type: none;
}

.search_list {
    border: 1px solid black;
    margin: 0vh 40vw;
    padding: 1vh 1vw;
    max-height: 30vh;
    min-height: 0vh;
    overflow-x: hidden;
    overflow-y: auto;
    
    
}

/* .content li button {
    
} */

.units {
    font-size: 1rem;
    border-radius: 10%;
    border: black 1px solid;
    padding: 0rem 0.5rem;
    margin-left: 0.5rem;
}

/* Output Component */
.grid {
    display: grid;
    margin: 2vh 40vw;
}

.grid p {
    font-size: 1.5rem;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, white, yellow);
    background: linear-gradient(to right, transparent, royalblue);
    z-index: 1;
}